@page
@using Microsoft.AspNetCore.Mvc.Localization
@using AbpCMS.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using AbpCMS.Web.Pages.CompanyDatas
@using AbpCMS.CompanyDatas;
@using System.Globalization
@inject IHtmlLocalizer<AbpCMSResource> L
@model CreateModalModel
@{
    Layout = null;
}
<script>
    tinymce.init({
        selector: '#@Html.IdFor(m=>m.CompanyData.Content)',
        plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        toolbar_mode: 'floating',
    });
</script>
<form data-ajaxForm="true" asp-page="/CompanyDatas/CreateModal" autocomplete="off">
    <abp-modal size="ExtraLarge">
        <abp-modal-header title="@L["NewCompanyData"].Value"></abp-modal-header>

        <abp-modal-body>
            
            <abp-input asp-for="CompanyData.Title"/>

            <abp-input asp-for="CompanyData.ShortDescription"/>

            <div class="form-group">
                <label for="CompanyData_Content">Content</label>
                <textarea id="CompanyData_Content" name="CompanyData.Content" placeholder="" class="form-control ">
                    @Model.CompanyData.Content
                </textarea>
            </div>

            <label for="Company_Name">@L["Company"]</label>
            <div class="input-group mb-3">
                <input hidden value="@Model.CompanyData.CompanyId" id="Company_Id" name="CompanyData.CompanyId" />
                <input type="text" id="Company_Name" class="form-control" disabled>
                <div class="input-group-append">
                    <abp-button button-type="Info" id="CompanyLookupOpenButton" class="text-light">@L["Pick"]</abp-button>
                    <abp-button button-type="Danger" class="lookupCleanButton"><i class="fa fa-times"></i></abp-button>
                </div>
            </div>
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>