@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using AbpCMS.Permissions
@using AbpCMS.Web.Pages.CompanyDatas
@using AbpCMS.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using AbpCMS.Localization
@inject IHtmlLocalizer<AbpCMSResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["CompanyDatas"].Value;
    PageLayout.Content.MenuItemName = AbpCMSMenus.CompanyDatas;
}
<script src="https://cdn.tiny.cloud/1/cl2khn174t5g4e43c04koxiaqr3jlq4vpkezluvhquwje2gs/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>


@section scripts
{
    <abp-script src="/Pages/CompanyDatas/index.js" />
}

@section content_toolbar {
    @if (await Authorization.IsGrantedAsync(AbpCMSPermissions.CompanyDatas.Create))
    {
        <abp-button id="NewCompanyDataButton"
                    text="@L["NewCompanyData"].Value"
                    icon="plus"
                    button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control" id="FilterText" placeholder="@L["Search"]" />
                        <div class="input-group-append">
                            <abp-button button-type="Primary" type="submit" icon="search" />
                        </div>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>
        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="TitleFilter" label="@L["Title"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="ShortDescriptionFilter" label="@L["ShortDescription"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="ContentFilter" label="@L["Content"].Value" />
            </abp-column>
            <abp-column size="_3">
                <label for="Company_Filter_Name">@L["Company"]</label>
                <div class="input-group mb-3">
                    <input hidden id="CompanyIdFilter" />
                    <input type="text" id="Company_Filter_Name" class="form-control" disabled>
                    <div class="input-group-append">
                        <abp-button button-type="Info" id="CompanyFilterLookupOpenButton" class="text-light">@L["Pick"]</abp-button>
                        <abp-button button-type="Danger" class="lookupCleanButton"><i class="fa fa-times"></i></abp-button>
                    </div>
                </div>
            </abp-column>

        </abp-row>
        <abp-table striped-rows="true" id="CompanyDatasTable">
            <thead>
                <tr>
                    <th>@L["Actions"]</th>
                    <th>@L["Title"]</th>
                    <th>@L["ShortDescription"]</th>
                    <th>@L["Content"]</th>

                    <th>@L["Company"]</th>

                </tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>