@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using AbpCMS.Permissions
@using AbpCMS.Web.Pages.Companies
@using AbpCMS.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using AbpCMS.Localization
@inject IHtmlLocalizer<AbpCMSResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Companies"].Value;
    PageLayout.Content.MenuItemName = AbpCMSMenus.Companies;
}

@section scripts
{
    <abp-script src="/Pages/Companies/index.js" />
}

@section content_toolbar {
    @if (await Authorization.IsGrantedAsync(AbpCMSPermissions.Companies.Create))
    {
        <abp-button id="NewCompanyButton"
                    text="@L["NewCompany"].Value"
                    icon="plus"
                    button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control" id="FilterText" placeholder="@L["Search"]"/>
                        <div class="input-group-append">
                            <abp-button button-type="Primary" type="submit" icon="search"/>
                        </div>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>
        <abp-row id="AdvancedFilterSection" style="display: none;">
                <abp-column size="_3">
                    <abp-input asp-for="CodeFilter" label="@L["Code"].Value" />
                </abp-column>
                <abp-column size="_3">
                    <abp-input asp-for="NameFilter" label="@L["Name"].Value" />
                </abp-column>
                <abp-column size="_3">
                    <abp-select asp-for="IsActiveFilter" label="@L["IsActive"].Value" />
                </abp-column>
                <abp-column size="_3">
                    <abp-select asp-for="CagegoryIdFilter" label="@L["Cagegory"].Value" />
                </abp-column>

        </abp-row>
        <abp-table striped-rows="true" id="CompaniesTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["Code"]</th>
					<th>@L["Name"]</th>
					<th>@L["IsActive"]</th>

					<th>@L["Cagegory"]</th>

				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>