@page
@using AbpCMS.Web.Menus
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model AbpCMS.Web.Pages.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using AbpCMS.Localization

@inject IHtmlLocalizer<AbpCMSResource> L
@{
    ViewBag.PageTitle = "Home";
}
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Home"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Home"].Value);
    PageLayout.Content.MenuItemName = AbpCMSMenus.Home;
}

@foreach (var companyData in Model.CompaniesData)
{
    <abp-card>
        <abp-card-header><h4>@companyData.Company.Name (@companyData.Company.Code): @companyData.CompanyData.Title</h4></abp-card-header>
        <abp-card-body>
            <div>@Html.Raw(companyData.CompanyData.ShortDescription)</div>
            <hr />
            <div>@Html.Raw(companyData.CompanyData.Content)</div>
        </abp-card-body>
    </abp-card>
}

